@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  background: #CDD7D6;
  color: #F87060;
  text-align: justify;
  line-height: 1.3;
  letter-spacing: 1.25px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 10vh;
  background: white;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 50%;
  min-width: 150px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  font-size: 2rem;
  margin-left: 10rem;
}

header a {
  color: #102542;
}

.current {
  border-bottom: #102542 solid 2px;
}

.landing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-content .circle-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  min-width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-content h1 {
  color: #102542;
  font-size: 4rem;
}

.landing-content p {
  margin: 2rem 0;
  text-align: justify;
}

.landing-content a {
  display: inline-block;
  padding: 2rem;
  background: #102542;
  color: #FFFFFF;
  border: 3px solid #102542;
  border-radius: 5rem;
}

.landing-content .hero-img {
  width: 45%;
}

.landing-content .text-container {
  width: 40%;
  margin-left: 3rem;
}

.photo {
  background: url(https://images.unsplash.com/photo-1505424297051-c3ad50b055ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80) fixed;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-us .why-us-container {
  width: 30%;
}

.why-us h3 {
  color: #102542;
  font-size: 3rem;
  margin: 2rem 0;
}

.circle-number {
  color: #FFFFFF;
}

.hosting-steps-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hosting-steps-cont .why-us-container {
  width: 30%;
}

.hosting-steps-cont h3 {
  color: #102542;
  font-size: 3rem;
  margin: 2rem 0;
}

.hosting-steps-cont .circle-number {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  background: #102542;
}

.why-us-title {
  color: #102542;
  text-align: center;
  font-size: 4rem;
  margin: 5rem 0;
}

footer {
  height: 5hv;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p {
  font-size: 1.5rem;
  color: #102542;
}

footer a {
  color: #102542;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10rem;
}

.team-title {
  color: #102542;
  margin: 3rem 0;
  text-align: center;
}

.cards-container {
  text-align: justify;
}

.cards-container h3 {
  color: #102542;
  margin: 1rem 0;
}

.cards-container p {
  color: black;
}

.cards-container .team-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-container h4 {
  color: #F87060;
  margin-bottom: 2rem;
}

.cards-container a {
  color: #102542;
}

.cards-container .team-lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-container img {
  border-radius: 3rem;
}

.cards-container .card {
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  background: #FFFFFF;
  max-width: 400px;
  min-width: 300px;
  padding: 2rem;
  width: 25%;
  border-radius: 3rem;
  margin: 4rem 2rem;
}

.hamburger-menu {
  display: none;
}

.contact-title {
  color: #102542;
  text-align: center;
  margin: 3rem 0;
}

.form-container {
  height: 73vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #102542;
}

@media screen and (max-width: 1225px) {
  body {
    text-align: left;
  }
  .container {
    width: 95%;
  }
  header {
    height: 100%;
  }
  header .logo {
    margin: 3rem 0;
  }
  header li {
    margin-left: 4rem;
  }
  footer a {
    margin-left: 4rem;
  }
  .landing-content {
    height: 100%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 925px) {
  body {
    text-align: left;
  }
  header {
    height: 100%;
  }
  header li {
    margin-left: 1.5rem;
  }
  header a {
    font-size: 1.5rem;
  }
  .landing-content {
    margin: 3rem 0;
  }
  .landing-content .circle-background {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .landing-content h1 {
    text-align: left;
    font-size: 3rem;
  }
  .landing-content p {
    text-align: left;
  }
  .landing-content .hero-img {
    width: 100%;
    margin: 0;
  }
  .landing-content .text-container {
    width: 100%;
    margin: 0;
  }
  .why-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .why-us .why-us-container {
    width: 90%;
  }
  .hosting-steps-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .why-us-container {
    width: 90%;
  }
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .socials {
    margin-top: 2rem;
  }
  footer a {
    margin-left: 0;
  }
}

@media screen and (max-width: 667px) {
  .header-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    height: 100%;
  }
  .header-content li {
    margin: .5rem 0;
    padding: .5rem 0;
    width: 100%;
  }
  .logo {
    text-align: center;
    margin: 0;
  }
  .container .why-us {
    text-align: center;
  }
  .container .hosting-steps-cont {
    text-align: center;
  }
  .container .why-us-container {
    margin: 1rem 0;
  }
  .circle-background .text-container a {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */