$circleColor : #F87060 ;
$navCurrentColor : #102542; 
$textColor : #FFFFFF;
$backgroundColor : white;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500;1,600&display=swap');

// Resets

* {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    // background: url(/Images/silke-buytaert-vQdePtLH01o-unsplash.jpg);
    color: $textColor;
    font-family: 'Montserrat', sans-serif;
    background: #CDD7D6;
    // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: $circleColor;
    text-align: justify;
    line-height: 1.3;
    letter-spacing: 1.25px;
}

// End Resets

// Header 

.container {
    width: 70%;
    margin: 0 auto;
}


header {
    height: 10vh;
    background: $backgroundColor;
    .header-content {
        display: flex;
        justify-content: space-between;
    }
    img {
        width: 50%;
        min-width: 150px;
    }
    .logo {
        display: flex;
        align-items: center;  
    }
    ul {
        display: flex;
        height: 10vh;
        align-items: center;
    }
    li {
        font-size: 2rem;
        margin-left: 10rem;
    }
    a {
        color: $navCurrentColor;
    }

}

.current {
    border-bottom: $navCurrentColor solid 2px;
}

.landing-content {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    .circle-background {
        
        display: flex;
        width: 70%;
        min-width: 70%;
        align-items: center;
        justify-content: center;
    }
    // img {
    //     min-width: 300px;
    // }
    h1 {
        color: $navCurrentColor;
        font-size: 4rem;
    }
    p {
        margin: 2rem 0;
        text-align: justify;
    }
    a {
        display: inline-block;
        padding: 2rem;
        background: $navCurrentColor;
        color: $textColor;
        border: 3px solid $navCurrentColor;
        border-radius: 5rem;
    }
    .hero-img {
        width: 45%;
    }
    .text-container {
        width: 40%;
        margin-left: 3rem;
    }
}

.photo {
    background: url(https://images.unsplash.com/photo-1505424297051-c3ad50b055ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80) fixed;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
}

// Why us 

.why-us {
    display: flex;
    margin: 7% 0;
    justify-content: space-between;
    .why-us-container {
        width: 30%;
    }
    
    h3 {
        color: $navCurrentColor;
        font-size: 3rem;
        margin: 2rem 0;
    }
}

.circle-number {
    color: $textColor;
}

.hosting-steps-cont {
    display: flex;
    justify-content: space-between;
    .why-us-container {
        width: 30%;
    }
    h3 {
        color: $navCurrentColor;
        font-size: 3rem;
        margin: 2rem 0;
    }
    .circle-number {
        display: inline-block;
        padding: 1rem 1.5rem;
        border-radius: 50%;
        background: $navCurrentColor;
    }
}

.why-us-title {
    color: $navCurrentColor;
    text-align: center;
    font-size: 4rem;
    margin: 5rem 0;
}


footer {
    height: 5hv;
    display: flex;
    align-items: center;
    .footer-content {
        display: flex;
        justify-content: space-between;
    }
    p {
        font-size: 1.5rem;
        color: $navCurrentColor;
    }
    a {
        color: $navCurrentColor;
        font-family: 'Montserrat', sans-serif;
        margin-left: 10rem;
    }

}

// about

.team-title {
    color: $navCurrentColor;
    margin: 3rem 0;
    text-align: center;
}

.cards-container {
    text-align: justify;
    h3{
        color: $navCurrentColor;
        margin: 1rem 0;
    }
    p {
        color: black;
    }
    .team-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    h4 {
        color: $circleColor;
        margin-bottom: 2rem;
    }

    a {
        color: $navCurrentColor;
    }
    
    .team-lead {
        display: flex;
        justify-content: center;
    }
    img {
        border-radius: 3rem;
    }
    .card {
        -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
        background: $textColor;
        max-width: 400px;
        min-width: 300px;
        padding: 2rem;
        width: 25%;
        border-radius: 3rem;
        margin: 4rem 2rem;
    }
}

.hamburger-menu {
    display: none;
}

.contact-title {
    color: $navCurrentColor;
    text-align: center;
    margin: 3rem 0;
}

.form-container {
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $navCurrentColor;
}

@media screen and (max-width: 1225px) {
    body {
        text-align: left;
    }
    .container {
        width: 95%;
    }
    header {
        height: 100%;
        .logo {
            margin: 3rem 0;
        }
        li {
            margin-left: 4rem;
        }
    }
    footer {
        a {
            margin-left: 4rem;
        }
    }
    .landing-content {
        height: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 925px) {
    body {
        text-align: left;
    }
    header {
        height: 100%;
        li {
            margin-left: 1.5rem;
        }

        a {
            font-size: 1.5rem;
        }
        
    }
    .landing-content {
        margin: 3rem 0;
        .circle-background {
            flex-direction: column;
            width: 80%;
        }
        h1 {
            text-align: left;
            font-size: 3rem;
        }
        p {
            text-align: left;
        }
        .hero-img {
            width: 100%;
            margin: 0;
        }
        .text-container {
            width: 100%;
            margin: 0;
        } 
    }
    .why-us {
        flex-direction: column;
        justify-content: center;
        .why-us-container {
            width: 90%;
        }
    }
    .hosting-steps-cont {
        flex-direction: column;
        justify-content: center;
    }
    .container {
        .why-us-container {
            width: 90%;
        }
    }
    footer {
        .footer-content {
            flex-direction: column;
            text-align: center;
        }
        .socials {
            margin-top: 2rem;
        }
        a {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 667px) {
    body {
        text-align: ;
    }
    .header-content {
        justify-content: space-around;
        ul {
            flex-direction: column;
            text-align: right;
            height: 100%;
        }
        li {
            margin: .5rem 0;
            padding: .5rem 0;
            width: 100%;
        }
    }
    .logo {
        text-align: center;
        margin: 0;
    }
    .container {
        .why-us {
            text-align: center;
        }

        .hosting-steps-cont {
            text-align: center;
        }
        
        .why-us-container {
            margin: 1rem 0;
        }
    }
    .circle-background {
        .text-container {
            a {
                text-align: center;
            }
        }
        
    }
}
